<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.prueba.desarrollador.fullstack" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Comercio</name>
  <description>Prueba técnica de comercio electrónico</description>
  <author email="no-reply@example.test" href="https://example.test">Proyecto Full Stack</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="ScrollEnabled" value="false" />
  <preference name="BackupWebStorage" value="none" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
</widget>
